html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.user-auth-card {
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
  width: 500px;
}

.main-box {
  padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.form-des {
    width: 80%;
    margin: 0 auto;
}

.btn {
  width: 100%;
  border-radius: 12px;
}